@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  color: hsl(120, 90%, 4%);
}

p {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}



img {
  max-width: 100%;
}
